.header {
  height: 50px;
  box-shadow: 1px 2px 1px 1px lightgray;
  grid-area: header;
  display: flex;
}
.signHeader {
  color: white;
  background-color: #3598f5;
  border-radius: 10px;
  border: 0;
  width: 75px;
  height: 25px;
}

.signHeader:hover {
  cursor: pointer;
}




.header img {
  height: 50px;
  display: flex;
  padding-left: 150px;
}


